In [2]:
import pandas as pd

In [4]:
file = 'car.txt'
car = pd.read_csv(file)
car = car.sort_index(by=['#(id'],ascending=[True])
car

          #(id  from    to  speed planTime)
36914   (10000   894  1019      6        2)
54816  (100000  1934  1019      4       21)
40418  (100002   491   297     16       14)
61282  (100003  1676  1834     12       23)
5951   (100004  1019  1934      6       10)
11285  (100005   444  1238      8        6)
3594   (100006  1197  1809     16       16)
25904  (100008  1671   965     10        5)
1387   (100011  1228   834     12       11)
31522  (100012   894  1590     12       18)
54406  (100014   831   552      6        3)
46934  (100017  1521  1705      6       18)
61319  (100018  1667   667     16       13)
22830   (10002   554  1180      8       17)
49187  (100020   839  1613     10       13)
54651  (100021  1944   493      6       11)
18059  (100025   617  1855      6       10)
37370  (100029   138   554     12       11)
645     (10003   998   552     10       18)
8094   (100030  1676  1432     10        9)
46725  (100031  1697   720     16        5)
6869   (100035   123   773      6       14)
55852  (100037   667  1909      4        8)
25309  (100038   427   491     10       18)
28354  (100040  1739   834     12       19)
33326  (100042   661  1855      4        8)
52931  (100043  1109   581     10        8)
33741  (100044  1537  1623     14       19)
46404  (100045   998   349      6        5)
3531   (100046  1667   426     14       26)
...        ...   ...   ...    ...       ...
51424   (99949   499  1623      6       17)
11096   (99951  1238  1809     14       19)
38131   (99952   427   491      8       29)
29649   (99953  1198  1809      4       28)
48133   (99954  1914  1195     14        2)
30351   (99955   839  1705      4       23)
54224   (99956  1228   834     14        4)
25208   (99958   998   977     10       12)
2911    (99965   771   834     14        2)
22170   (99968   902   894     12       16)
40106   (99969  1825  1590     16        4)
53902   (99971   894  1503     14       29)
28433   (99973  1109  1138      4       21)
38570   (99974  1082  1563      4        7)
35697   (99975   622  1613     14       15)
60150   (99976   320  1563      4       19)
26809   (99978   834  1129     10       25)
37141   (99979  1623  1896     10       22)
34759   (99981   617  1855     16       22)
49890   (99983  1285   320     14       25)
36988   (99985   977  1106     14       28)
27283   (99987  1944   902     16        4)
60280   (99989  1503  1432      6       22)
22398   (99993   964  1106     14       27)
25795   (99994  1671   250      4       18)
24589   (99995   902  1914     12        4)
15302   (99996  1106   926      8       13)
60352   (99997  1390  1180     12       29)
40253   (99998   617   834      8       10)
53160   (99999   998   313      6       25)

[61440 rows x 5 columns]

In [29]:
car['planTime)'].value_counts()

 5)     1064
 1)     1051
 7)     1049
 4)     1047
 8)     1026
 6)     1012
 2)     1007
 10)    1007
 9)      995
 3)      982
Name: planTime), dtype: int64

In [30]:
car['speed'].value_counts()

6    2584
8    2566
4    2548
2    2542
Name: speed, dtype: int64

In [31]:
pd.set_option('display.max_row',100)
car['from'].value_counts()

53    195
64    186
7     184
17    183
21    182
61    177
36    175
51    175
60    174
56    173
3     173
52    173
43    171
16    171
44    169
29    167
62    166
13    166
59    165
49    163
63    163
8     163
22    163
48    161
35    160
24    160
34    160
50    160
38    160
6     159
1     159
41    159
18    159
58    158
9     157
42    157
20    157
14    157
2     156
30    156
27    156
37    155
11    155
26    154
45    153
57    153
39    152
23    152
32    151
55    151
12    150
5     150
25    150
15    149
4     149
47    149
10    148
46    147
40    147
54    145
19    141
28    141
33    136
31    134
Name: from, dtype: int64

In [35]:
gp=car.groupby(by=['speed','planTime)'])
gp.size()

speed  planTime)
2       1)          219
        10)         257
        2)          244
        3)          267
        4)          266
        5)          285
        6)          259
        7)          247
        8)          237
        9)          261
4       1)          304
        10)         251
        2)          229
        3)          238
        4)          276
        5)          246
        6)          248
        7)          267
        8)          260
        9)          229
6       1)          281
        10)         245
        2)          268
        3)          243
        4)          239
        5)          270
        6)          236
        7)          254
        8)          267
        9)          281
8       1)          247
        10)         254
        2)          266
        3)          234
        4)          266
        5)          263
        6)          269
        7)          281
        8)          262
        9)          224
dtype: int64